@import 'vendor//styles/bootstrap/_mixins.scss'

#debtclock-dashboard
    border: 1px solid black
    +border-radius(4px)
    box-shadow: 1px 3px 4px 1px #888
    background: #eee
    font-size: 20px
    z-index: -1

#debtclock-total-number
    margin: 10px
    font-size: 2em
    line-height: 2em
    text-align: center

#debtclock-total-person
    margin: 10px
    font-size: 1.3em
    line-height: 1.3em
    text-align: center

