div.categories
  padding: 10px
  position: relative
  overflow-y: hidden
  overflow-x: scroll
  height: 400px
  text-align: center
div.category
  position: absolute
  width: 250px
  height: 50px
  top: 10px
ul.products
  overflow: scroll
  height: 400px
  margin-top: 20px
ul.product1
  color: #f00
ul.product2
  color: #0f0
ul.product3
  color: #00f
li.product
  list-style: none
  margin: 5px
  text-align: left

#treemap, #bubbletree, #aggregate
  margin: 10px
  height: 450px
  width: 700px
  border: 1px solid #eee
  box-shadow: 1px 3px 4px 1px #888

#mytab
  width: 800px 
  height: 550px

.icon-big-back, .icon-big-plus, .icon-big-minus, .icon-big-info-sign, .icon-big-question-sign, .icon-big-ban-circle
  width: 32px
  height: 32px
  background-image: url(/img/glyphicons.png)
  background-repeat: no-repeat
.icon-big-back
  background-position: -48px -1056px
.icon-big-plus 
  background-position: -0px -912px
.icon-big-minus 
  background-position: -48px -912px
.icon-big-info-sign
  background-position: -240px -912px
.icon-big-question-sign
  background-position: -192px -912px
.icon-big-ban-circle
  background-position: -432px -912px
#treemap-root
  position: absolute
  top: 105px
  left: 50%
  width: 1000px
  height: 610px
  margin-left: -500px
#treemap-root-inner 
  position: absolute
  margin-top: 0px
#budget-detail
  position: absolute
  top: 0 
  left: 640px
  width: 340px
  height: 520px
  background: #eee
  box-shadow: 1px 5px 5px #888
#budget-detail-inner
  margin: 10px
  height: 500px
  background: #eee
#budget-detail-info
  position: relative
  height: 200px
#budget-detail-amount
  position: absolute
  top: 0
  left: 0
  margin-top: 100px
  width: 100%
  text-align: center
#budget-detail-amount-field
  font-size: 48px
  text-shadow: #999 3px 3px 2px
#budget-detail-category
  position: absolute
  top: 0
  left: 0
  width: 100%
  margin-top: 190px
  text-align: right
#budget-tagger .input-append
  margin-left: 23px
#budget-tags
  height: 80px
  overflow-x: hidden
#budget-vote-label
  text-align: center
#BudgetItem
  margin-left: 20px
.vote-btn 
  font-size: 12px
.budget-treemap
  display: block
  maring: 0
  position: absolute
  top: 0 
  left: 20px 
  box-shadow: 1px 5px 5px #888
  cursor: pointer
text
  font-size: 11px
rect
  fill: none
  stroke-width: 5px
#treemap-backbtn
  position: absolute
  top: 472px 
  left: 560px
  z-index: 10
#debitmask
  background: #f99
  position: absolute
  top: 0px
  left: 20px
  z-index: 12
  font-size: 100px
  width: 600px
  height: 520px
  line-height: 520px
  text-align: center
  opacity: 0.8
  display: none
