.tooltip {
        position: absolute;
        top: 100px;
        left: 100px;
  -moz-border-radius:5px;
        border-radius: 5px;
  border: 2px solid #000;
        /* background: #222222; */
  background: #fff;
        opacity: .9;
        /* color: #eeeeee; */
  color: black;
        padding: 10px;
        width: 300px;
        font-size: 12px;
        z-index: 10;
}

.tooltip .title {
        font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}












