.treemap-root(ng-controller="DebtClock")
  #debtclock-dashboard
    #debtclock-total-number
      現有國債：
      span#debtclock_total {{ total.debt | unitconvert }}
    #debtclock-total-person
      （平均每人負擔：
      span#debtclock_perperson {{ total.avg | number:0 }}
      元）

