#treemap-root(ng-controller="BudgetItem")
  #treemap-root-inner
    #debitmask 2,500億
  button#treemap-backbtn.btn
    i.icon-big-back
  #budget-detail
    #budget-detail-inner
      #budget-detail-info
        h3
          i.icon-big-info-sign(style="margin-top:2px")
          span#budget-detail-depname-field 教育部
        #budget-detail-amount
          #budget-detail-amount-field1
            span#budget-detail-amount-field1-value 2,100億
            span#budget-detail-amount-field1-unit 元
          &#x0028;即為
          span#budget-detail-amount-field2 2,100億元
          )
        #budget-detail-category
          屬於
          span#budget-detail-category-field 教育支出
          項目
      hr
      include tags
      hr
      include vote
  script.
    setTimeout(function() {
        initTreeMap();
    }, 500);
