div(ng-controller="MyCtrl1")
    span h1 {{title}}
    p This is the partial for view 1.
    ul.products(when-scrolled='moreProducts(0)')
      li.product(ng-repeat="product in results[0].products",style="width: 300; height: 300")
        span {{ product.name }}
