!!! 5
html(lang='en',prefix="og: http://ogp.me/ns#")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='')
    meta(name='author', content='')
    if locals.og_title!=undefined
      meta(property='og:title',content='g0v.tw : 中央政府總預算 #{locals.og_title}')
      meta(property='og:type',content='website')
      meta(property='og:url',content='http://g0v.tw/#{locals.og_url}')
      meta(property='og:image',content='http://g0v.tw/img/g0v.png')
      meta(property='og:description',content='#{locals.og_description}')
      title g0v.tw: 中央政府總預算 #{locals.og_title}
    else
      meta(property='og:title',content='g0v.tw : 中央政府總預算')
      meta(property='og:type',content='website')
      meta(property='og:url',content='http://g0v.tw/')
      meta(property='og:image',content='http://g0v.tw/img/g0v.png')
      meta(property='og:description',content='零時政府 g0v.tw : 中央政府總預算 Visualization')
      title g0v.tw: 中央政府總預算
    link(rel='shortcut icon',href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cousine:700italic',type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Orbitron:400,500',type='text/css')

    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js')
    script(src='/js/vendor.js')
    script(src='/js/partials.js')
    script(src='/js/app.js')

  body(ng-controller='AppCtrl',ng-cloak)
    #fb-root
      script
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    .wrapper
      .navbar.site-heading
        .navbar-inner
          .container
            .brand
              img(src="/img/logo.png",alt="Logo: G0V.tw")
              span / 中央政府總預算
            .nav-collapse
              div(ng-include="'/partials/nav.html'")
      .container.main-content
        div(ng-view)
      div(ng-include="'/partials/login.html'")
      .push

