//{{keywords}} are queries seperate by comma, ex &q=交通及運輸設,總統府, which should be valid url encoding
iframe(frameborder='0', width='300', height='250', marginwidth='0', marginheight='0', src='http://www.google.com/uds/modules/elements/newsshow/iframe.html?ned=tw&hl=zh-TW&rsz=large&format=300x250&q={{keywords}}')

