.treemap-root(ng-controller="DebtClock")
  #debtclock-dashboard
    #debtclock-total
      | 現有國債：
      span#debtclock_total {{total.debt | currency}}
      | 元，平均每人負擔：
      span#debtclock_perperson {{total.avg | currency}}
      | 元

