ul.nav
  li(ng-class="getClass('/view2')")
    a(ng-href='/view2') 每日支出
  li(ng-class="getClass('/view3')")
    a(ng-href='/view3') ??
ul.nav.pull-right
  li(ng-class="getClass('/profile')")
    a(ng-href='/profile') 我的帳號
