.container
    #dailybread(ng-controller="DailyBread")
        h2.page-header 每日支出
          small 納稅人每日支付些什麼？
        #preloader(style='text-align: center; padding: 100px;')
          span.txt loading
        #content-wrap(style='display: none;')
          #db-topbar.layout-row.layout-3col-15-70-15
           form.form-inline
            label 每年繳納稅金
              .input-prepend
                  span.add-on $
                  input.input-small(type="text",type="numbrer",id="db-tax",name="db-tax",ng-model="tax")
              a.btn.btn-primary(ng-click="tax= tax + 5000") +
              a.btn.btn-danger(ng-click="tax= tax - 5000") -
