#bubbletree
input(type='button',value='click',onclick='blah();')
.container
  #mytab.tabbable
    ul.nav.nav-tabs
      li.active
        a(href='#tab1', data-toggle='tab') Tree Map
      li(onclick='blah()')
        a(href='#tab2', data-toggle='tab') Bubble Tree
      li
        a(href='#tab3', data-toggle='tab') Aggregate Table
    .tab-content
      #tab1.tab-pane.active
        #treemap
      #tab1.tab-pane
      #tab1.tab-pane
        #aggregate

