.container
    #dailybread(ng-controller="DailyBread")
        h2.page-header The Daily Bread
          small  Costs for the British Taxpayer per Day
        #preloader(style='text-align: center; padding: 100px;')
          img(src='img/ajax-loader.gif', style='vertical-align: top;')
          span.txt loading javascript libraries
        #content-wrap(style='display: none;')
          #db-topbar.layout-row.layout-3col-15-70-15
           form
            input(type="text",id="db-tax",name="db-tax",ng-model="tax")
    script
      dailybread();
